<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} To Do App {% endblock %}</title>

    <!--Bootstrap Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">


</head>
<body>
    <!--    <h1>Hello Batch 278!</h1>-->
    <!--The "include" keyword unlike the "extends" keyword allows to inject specific templates in certain sections of a page-->
    {% include 'navbar.html' %}

    {% block content %}
    <!--Block denotes a placeholder for content that will be filled in by the template that extends this base template.-->

    {% endblock %}


    <!--    Sample only to show that we can add many block place holder-->
    <!--    {% block body %}-->
    <!--Block denotes a placeholder for content that will be filled in by the template that extends this base template.-->

    <!--    {% endblock %}-->


    <!--    bootstrap script->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>
</html></body>