{% if is_user_registered == False %}
<h1>User Successfully Created!</h1>

<p> The account for {{first_name}} {{last_name}} has been created. </p>
{% else %}
<h1> Duplicate User Found! </h1>
<p> The account for {{first_name}} {{last_name}} already exists. User creation unsuccessful.</p>
{% endif %}