{% extends 'base.html' %}

{% block title%}Login{% endblock %}

{% block content%}
    <h1 class="text-center my-3">Login Form</h1>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">

                <!--Display error message if any-->
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                         <p class="text-danger">Invalid Credentials, please check your username and password first</p>
                    </div>
                {% endif %}
                <form action="{% url 'todolist:login' %}" method="POST">
                    <!--this template tag is used to prevent cross-site request forgery (CSRF)-->
                    <!-- CSRF occurs when a malicious website sends a request to a trusted website on behalf of a user who is logged in to the trusted website.-->
                    {% csrf_token %}
                  <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="username" value="{{ username }}" name="username" maxlength="20" required>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" value="{{ password }}" name="password" maxlength="20" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Login</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}