{% extends 'base.html' %}

{% block title%}Register{% endblock %}

{% block content%}
    <h1 class="text-center my-3">Registration Form</h1>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">

                <!--Display error message if any-->
                {%if error1 %}
                    <div class="alert alert-danger" role="alert">
                        <p class="text-danger">Duplicate Entry! Username must be unique.</p>
                    </div>
                {% elif error2 %}
                    <div class="alert alert-danger" role="alert">
                        <p class="text-danger">Duplicate Entry! Email must be unique.</p>
                    </div>
                {% elif error3 %}
                    <div class="alert alert-danger" role="alert">
                        <p class="text-danger">Password doesn't match!</p>
                    </div>
                {% endif %}

                <!-- Display success message if any -->
                {% if success %}
                    <div class="alert alert-success" role="alert">
                        <p class="text-success">Successfully registered. You may now login <a href="{% url 'todolist:login' %}">here</a>.</p>
                    </div>
                {% endif %}
                <form action="{% url 'todolist:register' %}" method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="first_name" class="form-label">First Name:</label>
                        <input type="text" class="form-control" id="first_name" value="{{ first_name }}" name="first_name" maxlength="20" required>
                    </div>

                    <div class="mb-3">
                        <label for="last_name" class="form-label">Last name:</label>
                        <input type="text" class="form-control" id="last_name" value="{{ last_name }}" name="last_name" maxlength="20" required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address:</label>
                        <input type="text" class="form-control" id="email" value="{{ email }}" name="email" maxlength="20" required>
                    </div>

                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="username" value="{{ username }}" name="username" maxlength="20" required>
                    </div>
                    <div class="mb-3">
                        <label for="password1" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password1" value="{{ password1 }}" name="password1" maxlength="20" required>
                    </div>

                    <div class="mb-3">
                        <label for="password2" class="form-label">Re-enter Password:</label>
                        <input type="password" class="form-control" id="password2" value="{{ password2 }}" name="password2" maxlength="20" required>
                    </div>

                   <div class="text-center">
                            <input class="btn btn-success" type="submit" value="Register">
                        </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}











<!--{% if is_user_registered == False %}-->
<!--<h1>User Successfully Created!</h1>-->

<!--<p> The account for {{first_name}} {{last_name}} has been created. </p>-->



<!--{% else %}-->
<!--<h1> Duplicate User Found! </h1>-->
<!--<p> The account for {{first_name}} {{last_name}} already exists. User Creation unsuccessful.</p>-->
<!--{% endif %}-->
